<!DOCTYPE html>
<html lang="ar" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio website showcasing Amber Czerwinski.">
    <meta name="keywords" content="amber,czerwinski,portfolio,resume,python,django">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-CfCrinSRH2IR6a4e6fy2q6ioOX7O6Mtm1L9vRvFZ1trBncWmMePhzvafv7oIcWiW"
        crossorigin="anonymous">
    <title>Homepage</title>
    <!-- Required for Formatting-->
    {% spaceless %}
    <!-- Required Static Tags -->
    {% load static %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- Custom CSS to apply the font-->
    <style>
    body {
      font-family: "Sour Gummy", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      font-size: 34px;
    }
    </style>

    <!-- Required Custom CSS File -->
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-warning py-4">
        <div class="container-fluid">
          <div class="d-flex justify-content-start align-items-center">
            <!-- Left side - Logo & Name -->
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'images/logo.svg' %}"
                   alt="logo"
                   width="100px"
                   height="100px">
            </a>
            <h1>Amber Czerwinski</h1>
          </div>
          <!-- Hamburger button (for smaller screens) -->
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <!-- Right side - Navigation Items -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav fw-bold">
            <div class="navbar-nav d-flex justify-content-evenly ms-5 ps-5">
              <a class="nav-link mx-3 text-body-emphasis" href="#">About</a>
              <a class="nav-link mx-3 text-body-emphasis" href="#">Skills</a>
              <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle text-body-emphasis"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">Projects</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item d-flex justify-content-center" href="#">Project1</a>
                  </li>
                </ul>
              </li>
              <a class="nav-link text-body-emphasis" href="#">Contact</a>
            </ul>
          </div>
        </div>
      </nav>
      <main>
        {% block content %}{% endblock %}
      </main>
      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
              crossorigin="anonymous"></script>
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    -->
    </body>
    <!-- Required for Formatting -->
  {% endspaceless %}
</html>
