{% extends 'base.html' %}
<!-- Required Static Tag -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skills page of portfolio website showcasing Amber Czerwinski.">
    <meta name="keywords" content="amber,czerwinski,portfolio,skills,python,django,html,css">
    <!-- Page Title -->
    <title>Skills page</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid my-4 mx-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-lg-xl-3 row-cols-xxl-3 g-4">

            <!-- Card 1: Programming Languages -->
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="..." class="card-img-top" alt="..." width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Programming Languages</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>

            <!-- Card 2: Web & Frameworks -->
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="..." class="card-img-top" alt="..." width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Web & Frameworks</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>

            <!-- Card 3: Cloud & Infrastructure -->
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="..." class="card-img-top" alt="..." width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Cloud & Infrastructure</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div> 

            <!-- Card 4: Data & Databases -->
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="..." class="card-img-top" alt="..." width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Data & Databases</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>

            <!-- Card 5: APIs & Tools -->
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="..." class="card-img-top" alt="..." width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">APIs and Tools</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>

            <!-- Card 6: Collaboration & Testing -->
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="..." class="card-img-top" alt="..." width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Collaboration & Testing</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>